from airflow import DAG
from airflow.operators.bash import BashOperator
from datetime import datetime

with DAG(
    dag_id="{{ dag_id }}",
    start_date={{ start_date }},
    schedule_interval="{{ schedule }}",
    catchup=False,
    default_args={"owner": "{{ owner }}"}
) as dag:

    task1 = BashOperator(
        task_id="print_date",
        bash_command="date"
    )